.App {
  background-color: #e5ded433;
  padding-top: 15px;
  padding-bottom: 15px;
  min-height: 100vh;
  max-width: 960px;
  margin: 0 auto;
}

.App footer {
  text-align: center;
  margin-top: 30px;
  opacity: 0.6;
  transition: all 200ms;
}

.App footer:hover {
  opacity: 1;
}

.App ul {
  padding: 0px;
}
